h1{
    text-align: center;
    color: aliceblue;
}
nav{
    position: fixed;
    background-color: black;
    border-radius: 30px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 170px;
    color: aliceblue;
}
nav ul li{
    text-decoration: none;
    margin-right: 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
nav ul li a:hover{
    color:red;
} 
body{
    background-image: url("background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.bgremove img{
    display: flex;
    margin-left: 50%;
    width: 50%;
}
.image{
    display: flex;
    margin-left: 20%;
    position:absolute;
    margin-top: -600px;
    width: 75%;
    height: 20000;
}
.info{
    /* color: aliceblue; */
    margin-top: -550px;
    display: flex;
    margin-right: 50%;
    font-size: 25px;
    margin-bottom: 70px;
    
}
span{
    color: red;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button{
    background-color: blue;
    color: aliceblue;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    margin-bottom: 40px;
    margin-bottom: 100px;
}
button:hover{
    transform: scale(0.7);
    background-color: chartreuse;
}
.downbar img{ 
    height: 40px;
    width: 40px;
    padding: 10px;
    margin-bottom: 150px;
}
.downbar img:hover{
    transform: scale(1.2);
}
h2{
    text-align: center;
}
.aboutinfo{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 150px;
}
.skills{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 150px;
}
.skillrow{
    display:grid;
    gap: 30px;
    margin-bottom: 80px;
}
.skill{
    text-align: center;
    margin-left: 20%;
    /* border: solid; */
    background-color:aliceblue;
    height: 30px;
    width: 60%;
    border-radius: 30px;
    transition: 5s;
}
/* .skill:hover{
    transform: scale(1.2);   
} */
.border{
        transition: 5s;
        background-color:burlywood;
        height: 30px;
        border-radius: 30px;
}
/* .border:hover{
    transform: scale(1.2);
} */
.certification{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 150px;
}
.card-row{
    display: flex;
    gap: 30px;
}
.card{
    align-items: center;
    text-align: center;
    background-color: aqua;
    height: 350px;
    width: 250px;
    border-radius: 30px;
    transition: 5s;
    box-shadow: 10px;
}
.card:hover{
    transform: scale(1.2);
}
.card-img img{
    margin-top: 20px;
    height: 100px;
    width: 200px;
    border-radius: 15px;
}
.card1{
    align-items: center;
    text-align: center;
    background-color: aqua;
    height: 500px;
    width: 300px;
    border-radius: 30px;
    box-shadow: 10px;
    transition: 5s;
}
.card1:hover{
    transform: scale(1.2);
}
.card1 span{
    color: red;
    font-size: 20px;
}
.card-image img{
    margin-top: 20px;
    height: 200px;
    width: 150px;
    border-radius: 15px;
}
.card span{
    color: red;
    font-size: 20px;
}
.btn button{
    color: aliceblue;
    background-color: blue;
    border-radius: 15px;
    height: 30px;
    width: 120px;
}

.contact{
    text-aline:center;
    background-color: aliceblue;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
}
.contact img{
    height: 10px;
    width: 10px;
}
.contact input{
    margin-bottom: 10px; 
    width: 70%;
    height: 40px;
    border-radius: 20px;

}
.contact button{
    background-color: black;
    color: aliceblue;
    margin-bottom: 10px; 
    width: 70%;
    height: 40px;
    border-radius: 20px;
}
.contact a{
    text-decoration: none;
    color: black;
}
.contact p{
    text-decoration: none;
    color: black;
}
.contact a:hover{
    color: red;
}
